.header{
    background-color: #1F2937;
    color: #F9FAF8;
}

.hero{
    display: flex;
    justify-content: space-between;
}

.link{
    display: flex;
    gap: 16px;
}

.headerText{
    display: flex;
    flex-direction: column;
}

.headerTwo{
    display: flex;
}

#headerImg{
    display: flex;
}

.bodyTitle{
    display: flex;
    justify-content: center;
}

.bigBlock{
    display: flex;
}

.block{
    display: flex;
    flex-direction: column;
}

.quote{
    background-color: #E5E7EB;
    color: #1F2937;
    font-style: italic;
    display: flex;
    flex-direction: column;
}

.actionCall{
    display: flex;
    margin: 50px;
    background-color: #3882F6;
    align-items: center;
    justify-content: space-between;
}

.actionText {
    display: flex;
}

.a{
    min-height: 60vh;
    display: flex;
    flex-direction: column;
}


.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: white;
    margin-top: auto;
}